.users {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userContainer {
    display: grid;
    background-color: #ff8906;
    justify-content: space-between;
    grid-template-areas:
     'avatar avatar status'
     'name name country'
     'follow-button follow-button city';
    grid-gap: 10px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    width: 450px;
    border: 2px solid palevioletred;
}

.avatar {grid-area: avatar;}
.name {grid-area: name}
.status {grid-area: status}
.country {grid-area: country}
.city {grid-area: city}

.selectedPage {
    font-weight: bold;
    color: white;
    background-color: #0f0c29;
}

.spinner {
    border-radius: 50%;
    width: 100px;
}

.followBtn {
    background-color: #f25f4c;
    color: #fffffe;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid black;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.followBtn:hover {
    background-color: #e53170;
}

.unfollowBtn {
    background: #e53170;
    color: #fffffe;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid black;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.unfollowBtn:hover {
    background-color: #f25f4c;
}