.formControl.error input,
.formControl.error textarea
{
    border: 2px solid red;
}

.formControl.error span
{
    color: red;
}

.formSummaryError {
    border: 1px solid palevioletred;
    color: #D63301;
    background-color: #FFCCBA;
    border-radius: 5px;
    width: 180px;
}