.profileBlock {
  display: flex;
  flex-direction: column;
}

.descriptionBlock {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-content: center;
}

.personalInfo {
    color: #c6ffdd;
}

.carouselFlex {
    display: flex;
    align-content: center;
}