.profileBlock {
  display: flex;
  flex-direction: column;
}

.hero .banner {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 9px 10px 5px -4px darkred;
  justify-content: center;
}

.descriptionBlock {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-content: center;
}

.personalInfo {
    color: #c6ffdd;
}
