.item {
  color: lightgray;
}

.item img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid lightgreen;
}

.like {
  margin-left: 10px;
  color: lightcoral;
}

.likeNum {
    color: aquamarine;
    margin-left: 5px;
    margin-right: 5px;
}