.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog .active {
    color: lightgoldenrodyellow;
}
.messages {
    padding: 10px;
}

.messages .message {
    margin-bottom: 10px;
}