.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsItems {
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: left;
}

.dialogItems .active {
    color: lightgoldenrodyellow;
}
.messages {
    padding: 10px;
}

.messages .message {
    margin-bottom: 10px;
    color: white;
}

.messageBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sendMessage {
    border: 2px solid silver;
    outline: none;
    background-color: palegoldenrod;
    color: teal;
    border-radius: 10px;
}

.sendBtn {
    background-color: #ff8906;
    color: #fffffe;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid black;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.sendBtn:hover {
    background-color: #f25f4c;
    color: white;
}
